.sidebar-side{

 font-family: "Poppins";
    font-Size: "20px";
  font-weight: 400;
   line-height: "24px";
   letter-spacing: "0em";
    text-align: "left";
    display: "block";
    margin: "8px 0";
   

}